.header-style {
    display: flex;
    flex-direction: column;    
    background-color: rgb(247, 227, 55);
}

.header-style div {
  color: #464646;
  font-size: 48px;  
  /* text-shadow: 2px 2px #01290b; */
  margin: auto;
  padding: 5px;
}